body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.main-container{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 116, 116);
    margin-top: 50px;
    width: 50%;
    
}
.profile{
    display: flex;
    padding: 30px;
    margin-left: 40px;
}
.pfp{
    background: blue;
    width: 400px;
    height: 400px;
    margin-right: 30px;
}
.profile-texts h1{
    font-size: xxx-large;
    margin-bottom: -10px;
}
.profile-texts ul{
    padding:0;
    margin-left: 13px;
}
.contatos{
    display: flex;
}
.contatos a{
    height: 30px;
    width: 30px;
    background-color: blue;
    margin: 10px;
    padding: 10px;
}
.contatos a img{
    height: 100%;
    width: 100%;
}
/*///////////////*/
.projetos{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.projetos h1{
    margin-left: 20%;
    font-size: 40px;
}
.linha1, .linha2 {
    display: flex;
    justify-content: center;
}
.maior {
    background-color: blue;
    width: 50%;
    height: 400px;
    margin: 5px;
}
.menor {
    background-color: blue;
    width: 20%;
    height: 400px;
    margin: 5px;
}

.maior img, .menor img{
    height: 300px;
    width: 100%;
    transition: 0.5s;
}
.maior img:hover, .menor img:hover{
    cursor: pointer;
    height: 305px;
    width: 101%;
}
.maior p, .menor p{
    margin-left: 5px;
}
.linguagens-projeto{
    display: flex;
}
.linguagens p{
    margin: 5px;
}
/*//////////////*/

